.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
}

#navbar {
    justify-content: space-evenly;
    position:fixed;
    border-right: 5px #555652 solid
    
}

.sidebar {
    position: static;
    min-height: 100vh !important;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.navbar__item_main {
    align-content:center;
    margin-top: 20px;
    max-width: 130px;
}

.navbar__item_main_top {
    align-content:center;
    max-width: 130px;
    margin-top: 100px;
}

.logo{
    position: fixed;
    top:0;
}

.logout {
    position:fixed;
    bottom: 0;
    padding-bottom:30px;
}

.nav-button {
    max-width: 130px;
}

.navbar__item_add {
    padding-bottom: 40px;
}

.navbar__item {
    padding-bottom: 10px;
}